<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body style="font-family: 'DM Sans', sans-serif; font-size: 16px; line-height: 21.71px;">
    <br />
    <div style="display: flex; justify-content: center; width: 100%;">
      <img
        src="{{ prod_frontend_url }}assets/logo/logo_coderr.svg"
        alt=""
        style="max-width: 300px; height: auto;"
      />
    </div>

    <p>Hallo {{ username }}!</p>
    <p>
      Wir haben vor Kurzem eine Anfrage erhalten, dein Passwort zurückzusetzen. <br>
      Wenn du diese Anfrage gestellt hast, klicke bitte auf den folgenden Link, <br>
      um dein Passwort zurückzusetzen:
    </p>
    <br />
    <a href="{{ full_url }}" target="_blank" style="
      display: inline-block;
      font-weight: 700;
      font-size: 18px;
      color: white;
      background-color: #01B676;
      border: 2px solid white;
      padding: 16px 32px;
      border-radius: 40px;
      cursor: pointer;
      text-decoration: none;
      text-align: center;
    ">Passwort zurücksetzen</a>
    <br />
    <br />

    <p>
      Bitte beachte, dass dieser Link aus Sicherheitsgründen nur 24 Stunden gültig ist.
    </p>

    <p>Wenn du keine Zurücksetzung deines Passworts angefordert hast, ignoriere diese E-Mail bitte.</p>

    <p>Viele Grüße,</p>

    <p>Dein Coderr Team</p>

  </body>
</html>
